.circlevector{
    background-color:#EB5247 ;
    width: fit-content;
    height: 100%;
    aspect-ratio: 1 / 1;
    padding: 10px;
    border-radius: 50px;
}
.OptionsContainer{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
}
.vectorO{
    width: 24px;
    height: 24px;
    object-fit: contain;
    display: block;
    margin: auto 0;
}
.flexing{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}