.project-content{
    display: flex;
    gap: 24px;
    padding: 32px;
    width: 100%;
}

.project-left{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 75%;
    padding: 0;
}

.project-right{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 25%;
    padding: 0;
}

.project-location{
    display: flex;
    align-items: center;
    gap: 10px;
}

.project-content-card{
    background-color: #F5F7FA;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}