.CardSimulContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: fit-content;
    height: 100%;
    padding: 12px;
}
.Simulcontainerv2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    padding: 12px;
    
}
.formSimulv2{
    display: flex;
    flex-direction: column;
    border: 1px solid #919191 ;
    border-radius: 24px;
}
.formSimulv2 img{
    height: 120px;
    width: auto;
    object-fit: cover;
    border-radius: 24px 24px 0 0;
    
}
.inputscontainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 12px;
}