.layoutContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.organization-info{
    display: flex;
    flex-direction: row;
}
.Info-left{
    display: flex;
    flex-direction: column;
    padding: 2px;

    width: 940px;
    align-items: center;
}

.Info-right{
    display: flex;
    flex-direction: column;
    padding: 2px;
    width: 300px;
    gap: 4px;
}

.leftPlaceholder {
  width: 247px;
  background-color: #ccc;
  height: 1065px
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topPlaceholder {
  height: 60px;
  min-height: 60px;
  background-color: #ddd;
  position: sticky;
  z-index: 100;
}

.PagosContainer {
  padding: 30px;
}

.tabs {
  display: flex;
  gap: 40px;
  margin-top: 36px;
  margin-left: 10px;
}

.tabActive {
  color: #FF6B35;
  font-weight: 400;
  border-bottom: 2px solid #FF6B35;
  padding-bottom: 2px;
}

.tabInactive {
  color: #333;
  font-weight: 400;
}

.mostrar-mas{
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    color: #EB5247;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
}
