.dashboard-container {
  display: flex;
  height: 100vh;
  background-color: #FAFAFA;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 240px;
  margin-right: 320px;
  padding-top: 64px; 
}

.dashboard-body {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 32px;
}

.dashboard-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dashboard-right {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  right: 10px;
}
.side-bar{
  position: fixed;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 85%;
  margin-left: 230px;
  margin-right: 320px;
  z-index: 1000;
}
