.ResultSect{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    box-sizing: border-box;
    padding-bottom: 3vw;
}

.ResultContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 2vw 5vw;
    gap: 40px;
}

.ResultTitle{
    display: flex;
    gap: 330px;
    align-items: center;
    justify-content: top;
}

.ResultTItleText{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.resultsLoading{
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

.resultsOptions{
    display: flex;
    gap: 20px;
}

.resultsOptionsSmall{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 60vh;
}