.headerSimul img{
    width: 12rem;
}
.SimulArrow{
    display: flex;
    align-items: center;
    gap: 26px;
    color: rgb(0, 0, 0);
}
.headerSimul{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    }
    .simulleftheader{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
.simulrigthheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}