.LoginSection{
    width: 40vw;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 5vw 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.LogoLogin{
    width: 9vw;
    margin-bottom: 10px;
}

.LoginHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.LoginForm{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}

.LoginFormInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputLogin{
    width: 100%;
    height: 2.5vw;
    border: 2px solid #D4D3D3;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 5px 20px;
    color: #666666;
    font-family: 'Archivo', sans-serif;
    font-size: 15px ;
    font-weight: 400 ;
    font-style: normal ;
}

.inputLogin::placeholder {
  color: #BEBEBE;
}

.inputLogin:focus {
  border-color: #666666;
  outline: none;
}

.LoginEnlaces{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.LoginorRegister{
    display: flex;
    gap: 5px;
}

.LoginEnlaceText{
    cursor: pointer;
}