.sidebar {
  width: 230px;
  height: 100vh;
  background-color: #fff;
  padding: 0px 0px 0px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #F1F1F1;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.logo {
  width: 150px;
  height: auto;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-bottom: 32px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
}

.icon {
  color: #B1B1B1;
}

.nav-item.active .icon {
  color: #EB5247;
}

.nav-item.active .nav-link p {
  color: #EB5247;
}

.footer-text {
  text-align: center;
  margin-top: auto;
}
