.postventa-container {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 5vw; /* padding responsivo */
  background-color: #fff;
  max-width: 100%;
}

.titlePostVenta {
  margin-bottom: 0.75rem;
}

.postventa-container > :nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.contenidoPostventa {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3.5rem;
  flex-wrap: wrap;
  width: 100%;
}

.bloque-central {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 0;
  width: 100%;
  max-width: 65%;
}

.bloque-lateral {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start; 
  gap: 1.5rem;
  margin-top: -12%; 
  max-width: 30%;
  width: 100%;
}


.bloque-lateral .actualizaciones {
  margin-top: 0;
}

.loadingSpinner-postventa{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}


@media (max-width: 768px) {
  .contenidoPostventa {
    flex-direction: column;
  }

  .bloque-central,
  .bloque-lateral {
    max-width: 100%;
    width: 100%;
  }

  .postventa-container {
    padding: 2rem 1rem;
  }
}
