.pro-news{
    width: 100%;
    height: max-content;
    border-radius: 15px;
    border: solid 1px lightgray;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.news-img{
    width: 70%;
    height: 100%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.464), transparent), url("https://ahtgnfecribejsxwcqqv.supabase.co/storage/v1/object/public/proyectos//PremiumF(vista3D).jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.news-content{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.news-news{
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    overflow-y: auto;
    padding-left: 8px;
}

.news-item{
    display: flex;
    gap: 8px;
    height: max-content;
}

.news-item img{
    height: 30px;
    width: 30px;
    border-radius: 20px;
}