.FormContainer{
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 16px;
    position: relative;
    height: 100%;
}

.FormProgressBar{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 8px;
    width: '100%';
    height: 8px;
}

.FormProgressBar div{
    height: 8px; 
    background: #D4D3D3;
    border-radius: 4px;
}

.FormProgressBar div.current{
    background: #FF0000;
}

.FormProgressBar div.passed{
    background: #FBB196;
}

.FormArrow{
    display: flex;
    gap: 8px;
    align-items: center;
}

.formAnswers{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.formAnswers section{
    display: flex;
    gap: 8px;
    justify-content: center;
}

.FormFooter{
    position: absolute;
    bottom: 8px;
    left: 24px;
}